<template>
  <div class="q-pa-md absolute-center">
    <h5 class="text-center">Sign In</h5>
    <p>Log In below to access your account</p>
     <q-input v-model="email" outlined  type="email" hint="Email" />
     <q-input v-model="password" outlined  :type="isPwd ? 'password' : 'text'" hint="Password with toggle">
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>
      <div class="row justify-end q-my-xl">
        <q-btn flat color="primary" label="Back" @click="goBack"/>
        <q-btn color="primary" label="Sign In" @click="gotoMain"/>
      </div>
      <div>
        <p>Don't have an account yet? <q-btn flat color="primary" @click="gotoSignUp" label="Sign Up" /></p>
      </div>
  </div>
</template>
<script>
import { defineComponent, ref } from 'vue'
import { useRouter } from "vue-router";


export default defineComponent({
  setup() {
    const router = useRouter();

    let password= ref('')
    let isPwd= ref(true)
    let email= ref('')

    function goBack() {
      router.push("/");
    }

    function gotoMain() {
      router.push("/");
    }

    function gotoSignUp() {
      router.push("/signup");
    }

    return {
      password,
      isPwd,
      email,
      goBack,
      gotoMain,
      gotoSignUp,
    }
  },
})
</script>

