<template>
  <div class="q-pa-md absolute-center">
    <h5 class="text-center">Sign Up</h5>
    <p>Please fill up the requirements</p>
    <q-input v-model="name" outlined  hint="Name" />
     <q-input v-model="email" outlined  type="email" hint="Email" />
     <q-input v-model="password" outlined  :type="isPwd ? 'password' : 'text'" hint="Password with toggle">
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>
      <div class="row justify-end q-my-xl">
        <q-btn flat color="primary" label="Back" @click="goBack"/>
        <q-btn color="primary" label="Sign Up" @click="gotoSignIn"/>
      </div>
      <div>
        <p>Already have an account? <q-btn flat color="primary" @click="gotoSignIn" label="Sign In" /></p>
      </div>
  </div>
</template>
<script>
import { defineComponent, ref } from 'vue'
import { useRouter } from "vue-router";

export default defineComponent({
  setup() {
    const router = useRouter();

    let password= ref('')
    let isPwd= ref(true)
    let email= ref('')
    let name= ref('')

    function goBack() {
      router.push("/");
    }

    function gotoSignIn() {
      router.push("/signin");
    }

    return {
      password,
      isPwd,
      email,
      name,
      goBack,
      gotoSignIn
    }
  },
})
</script>

