<template>
  <div class="q-pa-md z-top fixed-bottom" >
    <div :class="isClose ? '' : 'hidden'">
      <q-btn label="Package Promotion" @click="openCarousel"/>
    </div>
    <div :class="isClose ? 'hidden' : ''">
    <q-btn color="primary" label="Close" @click="closeCarousel"/>
    <q-carousel
      v-model="slide"
      transition-prev="slide-right"
      transition-next="slide-left"
      swipeable
      animated
      control-color="amber"
      padding
      arrows
      height="150px"
      class="bg-grey-9 shadow-2 rounded-borders"
    >
      <q-carousel-slide :name="1" class="column no-wrap">
        <div class="row fit justify-start items-center q-gutter-xs q-col-gutter no-wrap">
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0027.jpg" />
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0028.jpg" />
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0029.jpg" />
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0030.jpg" />
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0031.jpg" />
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0032.jpg" />
        </div>
      </q-carousel-slide>
      <q-carousel-slide :name="2" class="column no-wrap">
        <div class="row fit justify-start items-center q-gutter-xs q-col-gutter no-wrap">
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0027.jpg" />
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0028.jpg" />
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0029.jpg" />
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0030.jpg" />
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0031.jpg" />
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0032.jpg" />
        </div>
      </q-carousel-slide>
      <q-carousel-slide :name="3" class="column no-wrap">
        <div class="row fit justify-start items-center q-gutter-xs q-col-gutter no-wrap">
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0027.jpg" />
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0028.jpg" />
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0029.jpg" />
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0030.jpg" />
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0031.jpg" />
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0032.jpg" />
        </div>
      </q-carousel-slide>
      <q-carousel-slide :name="4" class="column no-wrap">
        <div class="row fit justify-start items-center q-gutter-xs q-col-gutter no-wrap">
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0027.jpg" />
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0028.jpg" />
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0029.jpg" />
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0030.jpg" />
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0031.jpg" />
          <q-img class="rounded-borders col-2 full-height" fit="cover" src="..\assets\img\IMG-20231130-WA0032.jpg" />
        </div>
      </q-carousel-slide>
    </q-carousel>
    </div>
  </div>
</template>

<script>
import { defineComponent, ref } from 'vue'

export default defineComponent ({
  setup () {
    let slide = ref(1)
    let isClose = ref(false)

    function closeCarousel() {
      isClose.value = true
    }

    function openCarousel() {
      isClose.value = false
    }
    return {
      slide,
      isClose,
      closeCarousel,
      openCarousel,
    }
  }
})
</script>
