<template>
  <q-page class="flex flex-center fixed-full">
      <div id = "map">
      </div>
  </q-page>
</template>
<script>
import { defineComponent, onMounted } from 'vue';
import { Map, View } from 'ol';
import { Tile as TileLayer } from 'ol/layer';
import { OSM } from 'ol/source';

export default defineComponent({
  setup() {
    onMounted(() => {


      new Map({
          target: 'map',
          layers: [
              new TileLayer({
                  source: new OSM(),
                  name: 'OSM'
              })
          ],
          // view: new View({
          //     center: [101.9758, 4.2105], // Malaysia's coordinates
          //     zoom: 6 // You may adjust the zoom level accordingly
          view: new View({
          center: [109.5000, 4.5000],
          zoom: 6,
          projection: 'EPSG:4326',
          })
      });
    })

    return{
      // map,
    }
  }


})
</script>
<style lang="scss">
 #map{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
 }
</style>

